*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

/* rules general webpage */

a {
    text-decoration: none;
}
/* rules botton general*/


.white {
    color:black;
    background-color: #fff;
    border-radius: 40px;
    padding: 7px 16px;
    font-size: 14px;
    margin-right: 10px;
}

.black{
    color: #fff;
    background-color: #23272a;
    border-radius: 40px;
    padding: 7px 16px;
    font-size: 14px;
    margin-left: 10px;
    
}

.lightblue {
    color: #fff;
    background-color: #8ea2e1;
    border-radius: 40px;
    padding: 7px 16px;
    font-size: 14px;
    text-align:center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

i   {
    font-size: 14px;
    text-align: center;
}



/* rules header-nav */


.top-containerflex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80px;
	padding: 10px 0;
	background-color: #255ee9;
    /* debug rules */
  
    
}

.top-containerflex a{
    text-decoration: none;
}

.top-containerflex li{
    list-style-type: none;
}

/* rules general container nav */
#topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 20px; 
    width: 80%; 
    
}


.top-link, li a{
    display: flex;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;

}


/* rules lastcontent header */
.jambocontainer{
    color: #fff;
    padding: 100px ;
    display: flex;
    justify-content: center;
    background-image: url(jumbo.png);
	background-size: cover;
	

}


.jambo{
    width: 65%;
}

.jambo > h1{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 50px;
}

.jambo, p .asidelink{
    text-align: center;
}

.jumbocontainer .jambo {
	width: 40%;
	color: white;
}

.asidelink{
    padding-top: 20px;
}
/* rules main section */
.aboutdiscordcontenitor{
    color:black;
    width: 100%;
    margin: 0 auto;
   
}

/* display flex square a-b */
.square-a, .square-b{
    /* min-height: 400px; */
    display: flex;
    justify-content: center;
    
    margin-top: 20px;
}

.square-a .left{
    width: 60%;
    margin-right: 50px;
    
 }

/* general rules square a (img left text right) */
 
 .square-a .right{
    width: 40%;
     flex-basis: 0;
 }

.square-a .right > h1{
    font-size: 30px;
	margin-bottom: 30px;
    margin-top: 20px;
}

.square-a .right p{
    font-size: 15px;
    
}
.square-a{

    background-color: white;
    width:100%;
}

/* rules square b (img right text left) */
.square-b {

    background-color: lightgrey;
    width: 100%;
}

.square-b .left{
    width: 40%;
     flex-basis: 0;
     
     
 }

.square-b .left > h1{
    font-size: 30px;
	margin-bottom: 30px;
    margin-top: 20px;
}

.square-b .left p{
    font-size: 15px;
    
}
/* rules bigimg section */
.bigblock{
	flex-grow: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center
}
.bigblock > h1{
	font-weight: bold;
	font-size: 30px;
	padding: 20px 0;
	text-align: center;
}
.bigblock > p{
	font-size: 15px;
	margin: 0 40px;
	text-align: center;
}

/* star img */

.star {
    background-image: url(./img/stars.svg);
    background-repeat: no-repeat;
    height: 50px;
    padding: 30px;
}

/* rules footer */

.container-column{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #23272a;
    
}

.column-big , .column {

    min-height: 300px;
    
}

.column-big {

    min-width: 200px;
    background-color: rgb(195, 84, 65);
}

.column {

    min-width: 100px;
    background-color: rgb(6, 93, 60);
}


hr {
    color: white;
}

.button-endrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  
    /* debug rules */
    min-height: 50px;
   background-color:  #23272a;
    
}

.logofooter, .bottonfooter{
   
}

 .logofooter{
    min-height: 20px;
    width: 40px;
    background-color: salmon;
    text-align: left;
}

.bottonfooter{
    min-height: 20px;
    width: 40px;
    background-color: salmon;
    text-align: right

}





